-var titulo = "Sub-titulo Principal"
-var titulos = ["Titulo Principal","Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="../css/ejercicio-pug.css")
		title Document
	body
		header 
			h1 PlatziGames
			a.boton Registro
		section.intro
			// Si no pones la etiqueta y solo el punto, te lo coloca como un div en html
			.intro__imagen: img(src="/images/imagen.png", alt="")
			//Cuando solo tienes un elemento hijo, puedes abreviarlo con dos puntos seguido
			.intro__contenido
				h2 #{titulos[0]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tempore quam architecto numquam quidem cupiditate vero, aspernatur reprehenderit, aperiam eius culpa maiores omnis dolor aliquam, non voluptate libero vitae ea. 
				span Cumque quia quis exercitationem incidunt amet sint tempora est voluptatibus?
				a.boton LEER MAS
		ul 
			each titulo in titulos 
				li=titulo
