extend componentes/plantilla.pug
block contenidos
		section.intro
			// Si no pones la etiqueta y solo el punto, te lo coloca como un div en html
			.intro__imagen: img(src="/images/imagen.png", alt="")
			//Cuando solo tienes un elemento hijo, puedes abreviarlo con dos puntos seguido
			.intro__contenido
				h2 #{titulos[0]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tempore quam architecto numquam quidem cupiditate vero, aspernatur reprehenderit, aperiam eius culpa maiores omnis dolor aliquam, non voluptate libero vitae ea. 
				span Cumque quia quis exercitationem incidunt amet sint tempora est voluptatibus?
				a.boton LEER MAS
		//ul 
			each titulo in titulos 
				li=titulo
		main.contenido
			+caja("imagen.png",titulos[1],"Cumque quia quis exercitationem incidunt amet sint tempora est voluptatibus?" )
			+caja("imagen.png",titulos[2],"Cumque quia quis exercitationem incidunt amet sint tempora est voluptatibus?" )
			+caja("imagen.png",titulos[3],"Cumque quia quis exercitationem incidunt amet sint tempora est voluptatibus?" )